
body{
    background-color: lightgrey;
}

header{
    position: fixed;
    top: 0;
    width: 99.5%;
    height: 50px;
    border: 2px;
    border-color: black;
    border-style: dotted;
    background-color: white;
    box-sizing: border-box;
}

section{
    clear: both;
    margin: 60px;
    
}

.left-header{
    float: left;
    padding: 10px 10px 0 10px;
}

.right-header{
    float: right;
    padding: 10px 10px 0 10px;
}

.top-section{
    width: 100;
    border: 2px;
    border-color: black;
    border-style: dotted;
    text-align: center;
    padding: 50px 0 50px 0;
    background-color: lightblue;
    margin: auto;
}

.top-section:hover{
    background-color: pink;
}

#button{
    text-align: center;
    height: 40px;
    width: 200px;
    background-color: #3FBEDE;
    margin: auto;
    padding-top: 10px;
    font-size: 20px;
    box-sizing: border-box;
}

#button:hover{
    background-color: orange;
}

h1{
    font-size: 60px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 20px;
}

img{
    width: 300px;
}

.info-pix1{
    width: 45%;
    /* float: left;
    padding-right: 20px; */
    float: left;
}

.info-pix2{
    width: 45%;
    
    float: right;
}